@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    /* outline: 1px solid blue !important; */
    font-family: 'Quicksand', sans-serif;
}
body{
  background-color: #0B6B69;
}
#root{
  background-color: #0B6B69;
}
.App {
  text-align: center;
  
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 .logoHouse {
  height: 40vmin;
  pointer-events: none;
} 
.logoFlowers {
  height: 30vmin;
  pointer-events: none;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  color: #FAA37F;
  font-size: 5ch;
  display: flex;
  justify-content: center;
}
h4{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h3{
  
}
.logos {
  background-color: #0B6B69;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
}
.logoMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  
}

.cookPics, .menuPics, .button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 3ch;
}
.tea, .burger {
  background-color: transparent;
}
.menuButton, .meseroButton, .cocinaButton{
  background-color: #BCCFBB;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  font-size: 2ch;
}

.items{
  background-color: #FAA37F;
  height: 60px;
  width: 250px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2px;
  
}
.homePic {
  background-color: transparent;
}
.menuContainer{
  background-color: #0B6B69;
  width: 50%;
}
h2{
  color: #BCCFBB;
}
.order{
  color: #0B6B69;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.resume{
  display: flex;
  background-color: #FAA37F;
  border-radius: 20px;
  width: 400px;
  height:300px;
  flex-direction: column;
}
input{
  background-color: #BCCFBB;
}
.clientName{
  background-color: aliceblue;
  border-radius: 15px;
  align-self: flex-start;
}
.comments{
  background-color: aliceblue;
  border-radius: 15px;
  width: 160px;
  height: 40px;
}
.table{
  background-color: aliceblue;
  border-radius: 15px;
  width: 40px;
}
.kitchen{
  background-color:#BCCFBB;
  border-radius: 20px;
  align-self: flex-end;
}
.mesero{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.buttons {
  display: flex;
  justify-content: center;
}
.desayuno {
  display: flex;
  flex-wrap: wrap;
}
.restoDelDia {
  display: flex;
  flex-wrap: wrap;
}
.img {
  background-color:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.imgButton{
  background-color: #BCCFBB;
  border-radius: 50%;

}
.logoMesero{
  size: 20px;
}
